<div style="margin-top: 140px;">
  <carousel>
    <slide>
      <img
        class="carousel-img"
        src="assets/images/sm-e.jpg"
        alt="first slide"
        style="display: block; width: 100%;"
      />
    </slide>
    <slide>
      <img
        class="carousel-img"
        src="assets/images/sm.jpg"
        alt="first slide"
        style="display: block; width: 100%;"
      />
    </slide>
    <slide>
      <img
        class="carousel-img"
        src="assets/images/sm1.jpg"
        alt="first slide"
        style="display: block; width: 100%;"
      />
    </slide>
  </carousel>
</div>
