<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form [formGroup]="this.loginForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <img class="mb-2" src="assets/images/logo2.png" alt="" />
      </div>

      <app-text-input
        formControlName="email"
        [label]="'Email Address'"
      ></app-text-input>
      <app-text-input
        formControlName="password"
        [label]="'Password'"
        [type]="'password'"
      ></app-text-input>

      <button
        [disabled]="this.loginForm.invalid"
        class="btn btn-lg btn-primary btn-block"
        type="submit"
      >
        Sign in
      </button>
    </form>
  </div>
</div>
